html {
    height: 100%;
    background-image: url('https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    position: relative;
}

h1 {
    display: flex;
    justify-content: center;
}

body {
    font-family: 'Poppins', sans-serif;
    letter-spacing: .04em;
    font-style: normal;
    color: white;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h4 {
    display: flex;
    justify-content: right;
    margin-right: 28px;
    font-size: 1.15rem;
}

blockquote {
    margin-top: 36px;
    font-size: 2rem;
}

button {
    border: none;
    cursor: pointer;
    background: rgba(33, 36, 34, 0.78);
    color: white;
    border-radius: 5px;
    font-size: medium;
    align-items: center;
    justify-content: center;
    margin: 12px;
}

button:hover {
    filter: brightness(125%);
}

#quote-box {
    height: auto;
    background: rgba(50, 48, 48, 0.78);
    border-radius: 9px;
    justify-content: center;
    margin: auto;
    width: 75vw;
    max-width: 700px;
    overflow: auto;
    padding: 20px;
    box-shadow: .4em .4em 20px rgb(40, 38, 38);
    border: 2px solid rgb(255, 255, 255, .2);
}

#new-quote {
    padding: 11px;
    font-weight: 500;
    letter-spacing: .5em;
}

#div-social-icons {
    height: 100%;
    display: flex;
    justify-content: right;
}

#social-icon {
    width: 20vw;
    max-width: 180px;
    height: 3.5vh;
}

#divider {
    width: 5px;
    height: auto;
    display: inline-block;
}

#the-maker {
    display: inline-flex;
    margin-left: 12px;
    font-family: 'Courier New', Courier, monospace;
}